@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Hide scrollbar for horizontal scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}